@tailwind base;
@tailwind components;
@tailwind utilities;

/* Forzamos que el fondo y colores sean los de tu diseño original */
html, body {
  background-color: #0f1c23 !important; /* El color oscuro azulado de tu captura */
  color: white !important;
  font-family: 'Inter', sans-serif !important;
}

/* Matamos cualquier rastro de modo oscuro automático */
.dark {
  color-scheme: dark;
}
